/*----------------------------------------header--------------------------------------------------*/
body {
    background: #001611;
    background: linear-gradient( black, #001611, black, #001611, black);
}

h2 {
    text-align: center;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkorange;
}

p {
    text-align: center;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkorange;
}

.header {
    border: 2px solid rgb(114, 32, 0);
}

.profilepic {
    width: 30%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right:auto;
    border-radius: none;
}

.elli {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
}

.webdev {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

/*---------------------------------------navigation bar--------------------------------------------*/
#navigation {
    display: block;
    color: darkorange;
    height: 350px;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid rgb(114, 32, 0);
    padding: 0;
}

/*------------------------------------------lebenslauf---------------------------------------------*/
.inhalt{
    height: 100px;
    color: darkorange;
    font-size: 1.5em;
}

#lebenslauf {
    display: block;
    height: 480px;
    font-size: 1em;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid rgb(114, 32, 0);
}

.lebenslauf, .skills, .kontakt {
    background-color: rgb(0, 26, 48);
    color: darkorange;
}
.portfolionav { /*for the chosen part, to be darker than the rest*/
    background-color: rgb(26, 5, 0);
    color: darkorange;

}

li { 
    list-style: none;
    border-style: solid;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.portfoliopepe {
    width: 100%;
    height: auto;
    border-radius: none;
    display: block;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid rgb(114, 32, 0);
}

/*don't cut this out, important for responsibility*/
.portfoliopepe img {
    width: 100%;
    height: auto;
}

/*--------------------------Meine Skills------------------------------------------------*/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skillbox {
    border: 2px solid rgb(114, 32, 0);
    width: 100%;
    height: 700px;
}

.html {
    width: 70%; background-color: rgb(0, 26, 48);
} 
.css {
    width: 42%; background-color: rgb(0, 26, 48);
} 
.js {
    width: 12%; background-color: rgb(0, 26, 48);
} 
.ps {
    width: 65%; background-color: rgb(0, 26, 48);
} 
.bs {
    width: 30%; background-color: rgb(0, 26, 48);
} 
.sl {
    width: 39%; background-color: rgb(0, 26, 48);
} 

/*-------------------------------Kontakt Buttons---------------------------------*/
.contact {
    border: 2px solid rgb(114, 32, 0);
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.giticon {
    text-align: center;
    width: 100%;
    height: auto;
}

/*
a, span, i {
    color: darkred;
    vertical-align: .4em;
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.fas.fa-mail-bulk {
    color: darkred;
}*/




/*.shadow {
    border: 2px solid rgb(114, 32, 0);
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 90px;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow:
      inset 60px 0 120px rgb(183, 0, 255),  /* left magenta */
      inset -60px 0 120px rgb(0, 204, 255); /* right cyan */
  }




  center {
    text-align:center;
    width:100%;
}